 /* Basic styles for the calendar */
 .calendar {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.calendar__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    margin-bottom: 10px;
}

.calendar__week {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.calendar__week-text {
    width: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.calendar__day {
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    margin: 2px;
    font-size: 14px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.calendar__day.empty {
    visibility: hidden;
    /* Hide empty cells */
}

.calendar__day:hover {
    background-color: #e0e0e0;
}

/* Highlight the current day */
.calendar__day.today {
    background-color: #4caf50;
    /* Change this color to highlight today's date */
    color: white;
    font-weight: bold;
}


.calendar__day:hover {
    background-color: #302b2b;
    color: #c95b28;
    cursor: pointer;
}

.ft-text {
    color: #c95b28;
}
